footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 1rem;
    background: #f1faff;
}
.foot{
    width: 100%;
    height: 100%;
    background: #f1faff;
    padding-right: .53rem;
    padding-left: .53rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.foot li{
    width: .5rem;
    height: .8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.foot li p{
    font-size: .24rem;
}
.yes{
    color: #59c3fe;
}
.no{
    color: #9ddcff;
}
.img_1{
    width: .44rem;
    height: .46rem;
}
.img_2{
    width: .32rem;
    height: .48rem;
}
.img_3{
    width: .40rem;
    height: .40rem;
}
.img_4{
    width: .48rem;
    height: .34rem;
}
.img_5{
    width: .40rem;
    height: .40rem;
}
/* 遮罩开始 */
.sd_box{
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 10rem 10rem rgba(255, 255, 255, 0.8) inset;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 200;
    display: none;
}
.index_shade{
    height: 4.91rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.37rem 0.41rem;
    position: absolute;
    bottom: 0;
    left: 0;
    
}
.index_shade .shade_top{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.index_shade .shade_top .shade_shangjia{
    width: 1.72rem;
    text-align: center;
}
.index_shade .shade_top .shade_shangjia img{
    width: 100%;
    height: 1.72rem;
    display: block;
    margin-bottom: 0.36rem;
}
.index_shade .shade_top .shade_shangjia p{
    font-size: 0.22rem;
    color: #7f7f7f;
}
.index_shade .shade_top .shade_shiusi{
    width: 1.72rem;
    text-align: center;
}
.index_shade .shade_top .shade_shiusi img{
    width: 100%;
    height: 1.72rem;
    display: block;
    margin-bottom: 0.36rem;
}
.index_shade .shade_top .shade_shiusi p{
    font-size: 0.22rem;
    color: #7f7f7f;
}
.index_shade .shade_bottom{
    width: 0.53rem;
    height: 0.53rem;
    border-radius: 50%;
    background: #f1f5f7;
    line-height: 0.53rem;
    text-align: center;
    color: #76797b;
    font-size: 0.15rem;
}
/* 遮罩结束 */
