body,html{
	background: #fbfeff;
}
.paswor{
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.paswor .text{
	width: 4.92rem;
	height: 1.06rem;
	margin-top: 2.62rem;
	border-bottom: 1px solid rgb(0, 0, 0,0.04);
	display: flex;
	align-items: center;
	justify-content: center;
}
.paswor .text .pasworIn{
	width: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.paswor .text .pasworIn img{
	width: 0.12rem;
	height: 0.08rem;
	margin: 0 0.1rem;
}

.paswor .text h3{
	text-align: center;
	line-height: 1.06rem;
	font-size: 0.28rem;
	color: rgb(0, 0, 0,0.8);
}

form{
	width: 4.85rem;
	height: auto;
	margin-top: 0.38rem;
	display: flex;
	justify-content: space-between;
}
form input{
	width: 0.48rem;
	height: 0.48rem;
	background: #e3eef6;
	border-radius: 50%;
	border: none;
	outline: none;
}
.pasw{
	background-image: url('../img/lyk_pasw.png');
	background-size: cover;
	
}
.sdow{
	box-shadow: 0 0 0.15rem rgb(47, 165, 255,0.5);
}

.footer{
	width: 4.54rem;
	height: 0.6rem;
	border-radius: 0.3rem;
	margin: 0 auto;
	background: -webkit-linear-gradient(left,#37e06f,#32d69a);
	color: #fff;
	font-size: 0.2rem;
	line-height: 0.6rem;
	text-align: center;
	display: block;
	margin-top: 1.26rem;
	box-shadow: 0.04rem 0 0.2rem rgba(55, 223, 116, 0.75);
}

.kbord{
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
}