body,html{
	background: #fbfeff;
}
.gold{
	width: 100%;
	height: auto;
	margin-top:0.28rem;
	display: flex;
	justify-content: center;
}
.gold .goldIn{
	width: 100%;
	height: 3.32rem;
	background-image: url('../img/lyk_bg.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	
}
.gold .goldT{
	width:auto;
	height:2rem;
	background-image: url('../img/lyk_bgr.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top 0.2rem;
}
.goldP{
	/*margin-top: 2.2rem;*/
	display: flex;
	align-items: center;
	justify-content: center;
}
.gold .goldIn img{
	width: 0.1rem;
	height: 0.07rem;
	margin: 0 0.1rem;
}
.gold .goldIn span{
	font-size: 0.26rem;
}
.gold .goldIn span i{
	font-size: 0.46rem;
	font-weight: bold;
}

.cons{
	width:100% ;
	height: 0.83rem;
	font-size: 0.24rem;
	color: rgba(0, 0, 0,0.5);
	margin: 0 auto;
	border-bottom: 1px solid rgba(0, 0, 0,0.04);
	border-top: 1px solid rgba(0, 0, 0,0.04);
	display: flex;
	justify-content: center;
	align-items: center;
}
.cons i{
	padding-left:0.16rem ;
}
