.wechat_box{
	padding: 2.28rem 1.1rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.wechat_box .wechat_choose{
	width: 100%;
	padding: 0 0.83rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 0.3rem;
	border-bottom: 0.02rem solid #eef1f2;
	position: relative;
	margin-bottom: 0.54rem;
}
.wechat_box .wechat_choose .wechat_fast{
	line-height: 0.3rem;
	font-size: 0.3rem;
	color: #646666;
}
.wechat_box .wechat_choose .wechat_user{
	line-height: 0.3rem;
	font-size: 0.3rem;
	color: #c9cbcc;
}
.wechat_box .wechat_choose .left{
	width: 0.91rem;
	height: 0.06rem;
	background: #3bacfe;
	opacity: 0.8;
	position: absolute;
	left: 0.94rem;
	bottom: -0.04rem;
}
.wechat_box .wechat_choose .right{
	width: 0.91rem;
	height: 0.06rem;
	background: #3bacfe;
	opacity: 0.8;
	position: absolute;
	right: 1rem;
	bottom: -0.04rem;
}
.wechat_box .login_num{
	width: 100%;
	height: 0.6rem;
	display: flex;
	justify-content: start;
	align-items: center;
	border-bottom: 0.02rem solid #eef1f2;
	margin-bottom: 0.4rem;
}
.wechat_box .login_num img{
	display: block;
	width: 0.48rem;
	height: 0.55rem;
	margin-top: 0.06rem;
	margin-right: 0.06rem;
}
.wechat_box .login_num p{
	font-size: 0.16rem;
	line-height: 0.16rem;
	color: #40b1ff;
	margin-right: 0.24rem;
}
.wechat_box .login_num input{
	background: none;
	outline: none;
	border: none;
}
.wechat_box .login_num input::-webkit-input-placeholder{
	font-size: 0.22rem;
	color: #c9cbcc;
	line-height: 0.22rem;
}


.wechat_box .login_mess{
	width: 100%;
	height: 0.6rem;
	display: flex;
	justify-content: start;
	align-items: center;
	border-bottom: 0.02rem solid #eef1f2;
	margin-bottom: 0.4rem;
	padding-bottom: 0.3rem;
}
.wechat_box .login_mess img{
	display: block;
	width: 0.22rem;
	height: 0.22rem;
	margin-top: 0.06rem;
	margin-left: 0.1rem;
	margin-right: 0.2rem;
}
.wechat_box .login_mess p{
	font-size: 0.16rem;
	line-height: 0.16rem;
	color: #40b1ff;
	margin-right: 0.24rem;
}
.wechat_box .login_mess input{
	background: none;
	outline: none;
	border: none;
	width: 60%;
}
.wechat_box .login_mess input::-webkit-input-placeholder{
	font-size: 0.22rem;
	color: #c9cbcc;
	line-height: 0.22rem;
}
.wechat_box .login_mess .mess_btn{
	width: 1.56rem;
	height: 0.46rem;
	line-height: 0.46rem;
	text-align: center;
	font-size: 0.22rem;
	color: #fff;
	background-image: linear-gradient(to right,#37e06f,#32d69a);
	box-shadow: 0 0.04rem 0.2rem 0 rgba(55, 223, 116, 0.75);
	border-radius: 0.23rem;
}
.wechat_box .login_fast{
	width: 3.86rem;
	height: 0.52rem;
	background: #e7f6ff;
	text-align: center;
	line-height: 0.52rem;
	font-size: 0.2rem;
	font-weight: 600;
	color: #6bc1fe;
	border-radius: 0.26rem;
	margin-bottom: 0.32rem;
}
.wechat_box .login_last{
	font-size: 0.22rem;
	color: #afb1b2;
	padding-left: 0.4rem;
	position: relative;
}
.wechat_box .login_last:before{
	content: "";
	width: 0.25rem;
	height: 0.25rem;
	background: #e7f6ff;
	border-radius: 50%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto 0;
}