.top{
    box-shadow: none;
}
.topt{
    width:100%;
    height:1.18rem;
    background: #fbfeff;
    box-shadow: 0 0.12rem 0.2rem 0.1rem rgba(238, 248, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;

}
.topt-xx{
    width:1.34rem;
    height:0.53rem;
    /*border-radius: 0.265rem;*/
    font-size: 0.2rem;
    text-align: center;
    line-height: 0.53rem;
    color:#3bacfe;
    margin-right: 0.25rem;
}
.topt-xx:nth-child(5){
    margin-right: 0;
}
.topt-xx:nth-child(1){
    margin-left: 0.23rem;
}
.topt .active{
    border-bottom: 0.03rem solid #3bacfe;
}
.yhpj{
    width:100%;
    /*height:6.93rem;*/
    background: #fbfeff;
    margin-top: 1rem;

}
.pj{
    width:7.02rem;
    /*height:100%;*/
    border-top:0.01rem solid #f0f5f7;
    border-bottom: 0.01rem solid #f0f5f7;
    margin-left: 0.24rem;
}
.pj .pj-nr{
    width:100%;
    margin-top: 0.52rem;
}
.pj .pj-nr .tx{
    width:1rem;
    height:1rem;
    background: #ffffff;
    border-radius: 50%;
    border:0.01rem solid #ffffff;
    background-image: url("../img/zgl_tx.png");
    background-position: -0.4rem -0.28rem ;
    background-size: 2rem;
}
.pj .pj-nr .name{
    position: relative;
}
.pj .pj-nr .name h2{
    font-size: 0.2rem;
    color:#d2d2d2;
    position: absolute;
    margin-left: 1.2rem;
    margin-top: -0.8rem;
}
.pj .pj-nr .time{
    font-size: 0.22rem;
    color:#9ed5ff;
    position: absolute;
    margin-left: 5.5rem;
    margin-top: -0.8rem;
}
.pj .pj-nr h3{
    font-size: 0.26rem;
    color:rgba(0,0,0,0.6);
    display: block;
    position: absolute;
    margin-left: 1.2rem;
    margin-top: -0.3rem;
}
.pj .pj-nr p{
    height:0.5rem;
    font-size: 0.22rem;
    color:rgba(0,0,0,0.3);
    margin-left: 1.2rem;

}
.pj .pj-nr .tm img{
    margin-left: 1.2rem;
}
.pj .pj-nr .gr{
    margin-left: 4.9rem;
    margin-top: -0.33rem;
}