.bao{
    width:100%;
    height:7.3rem;
    background: #fbfeff;
    background-image: url("../img/zgl_slt.png");
    background-size: 4.5rem;
    background-repeat: no-repeat;
    background-position: center;
}
.details{
    width:100%;
    height:4.01rem;
    background: #fbfeff;
}
.details h3{
    font-size: 0.3rem;
    color:rgba(0,0,0,0.6);
    margin-left: 0.24rem;
}
.details p{
    font-size: 0.22rem;
    color:rgba(0,0,0,0.3);
    margin-left: 0.24rem;
}
.details span{
    font-size: 0.2rem;
    color:#fbb548;
    margin-left: 0.24rem;
    display: block;
    float: left;
}
.details .ys{
    width:1.3rem;
    height:0.3rem;
    float: right;
    position: relative;
    margin-right: 0.23rem;
}
.details .ys img{
    position: absolute;
    margin-top:0.05rem;
}
.details .ys h2{
    font-size: 0.2rem;
    color:rgba(0,0,0,0.3);
    margin-left: 0.25rem;
}
.details .ys span{
    position: absolute;
    font-size: 0.24rem;
    color:#36a8fe;
    margin-top: -0.32rem;
    margin-left: 0.8rem;
}
.details .yh{
    width:7.02rem;
    height:0.87rem;
    border-top:0.01rem solid #f0f5f7;
    border-bottom: 0.01rem solid #f0f5f7;
    margin:0.44rem auto;
    position: relative;
}
.details .yh img{
    display: block;
    margin-top: 0.1rem;
}
.details .yh b{
    font-size: 0.24rem;
    color:#ff844e;
    position: absolute;
    margin-top: -0.6rem;
    margin-left: 0.95rem;
    float: left;
}
.details .yh .mj{
    width:2.55rem;
    height:0.6rem;
    background-image: url("../img/zgl_mj.png");
    background-size: 10rem;
    background-repeat: no-repeat;
    background-position: -1.6rem -0.87rem;
    margin-top: -0.75rem;
    margin-left: 1.5rem;
    font-size: 0.3rem;
    color:#ffffff;
    text-align: center;
    line-height: 0.6rem;
}
.details .sx{
    width:100%;
    height:0.84rem;

}
.details .sx .sx-w{
    margin-left: 0.24rem;
    float: left;
}
.details .sx h3{
    font-size: 0.24rem;
    color:#41b2fc;
    display: block;


}
.details .sx img{
    position: absolute;
    display: block;
    margin-top: -0.25rem;
}
footer{
    width:100%;
    height:1.15rem;
    background: #f1faff;
    display: flex;
    justify-content: center;
}
footer .one{
    width:2.3rem;
    height:100%;
    margin-left: -0.3rem;
    display: flex;
    justify-content: center;
    margin-right: 0.3rem;
}
footer .one .one-o{
    width:1.2rem;
    height:100%;
}
footer .one .one-o img{
    display: block;
    padding-top: 0.2rem;
    padding-left: 0.3rem;
}
footer .one .one-o h2{
    font-size: 0.2rem;
    color:#3bacfe;
    padding-top: 0.05rem;
    padding-left: 0.15rem;
}
footer .one .one-o:nth-child(1) h2{
    padding-left: 0.35rem;
}
footer .one .one-o:nth-child(2) img{
    width:0.9rem;
    padding-top: 0.15rem;
}
footer .right{
    width:4.38rem;
    height:0.75rem;
    margin-top: 0.2rem;
}
footer .right .rg{
    width:2rem;
    height:100%;
    background-image: url("../img/zgl_lj.png");
    background-size: cover;
    font-size: 0.2rem;
    color:#ffffff;
    text-align: center;
    line-height: 0.75rem;
    float: left;
}
footer .right .xb{
    width:2rem;
    height:100%;
    background-image: url("../img/zgl_qr.png");
    background-size: cover;
    font-size: 0.2rem;
    color:#ffffff;
    text-align: center;
    line-height: 0.75rem;
    float: right;
    margin-top: 0.05rem;
    margin-right: 0.3rem;
}
