/*
* @Author: ZX
* @Date:   2018-09-26 19:16:46
* @Last Modified by:   ZX
* @Last Modified time: 2018-09-28 15:40:50
*/
.order_adress{
	padding: 0 0.24rem;
	display: flex;
	justify-content: space-between;
}
.order_adress h3{
	font-size: 0.26rem;
	color:#8A8C8D;
	line-height: 1.26rem;
}
.order_adress i{
	font-size: 0.26rem;
	line-height: 1.26rem;
}
.order_dive{
	padding: 0 0.24rem;
	display: flex;
	padding-bottom: 0.32rem;
}
.order_dive .order_coat{
	border-radius: 0.1rem;
	width: 1.76rem;
	height: 1.76rem;
	box-shadow: 0 0 0.24rem 0.01rem rgba(0, 0, 0, 0.1);
}
.order_dive .order_coat img{
	border-radius: 0.1rem;
	display: block;
	width: 1.76rem;
	height: 1.76rem;
}
.order_dive .order_text{
	margin-left: 0.1rem;
	padding-left: 0.24rem;
	width:5.16rem;
	height:1.76rem;
}
.order_dive .order_text h3{
	font-size: 0.3rem;
	color: rgba(0, 0, 0, 0.6);
}
.order_dive .order_text .order_type,.order_sever{
	display: flex;
	align-items: center;
}
.order_dive .order_text .order_dot{
	width: 0.06rem;
	height: 0.06rem;
	border-radius: 50%;
	background: #36a8fe;
}
.order_dive .order_text p{
	margin-left: 0.06rem;
	font-size: 0.26rem;
	color: #36a8fe;
	font-weight: bold;
	line-height: 0.4rem;
}
.order_dive .order_text .order_sever p{
	font-size: 0.22rem;
	color: rgba(0, 0, 0, 0.3);
}
.order_dive .order_text .order_price{
	display: flex;
	justify-content: space-between;
}
.order_dive .order_text .order_price .order_left,.order_right{
	display: flex;
	align-items: center;
}
.order_dive .order_text .order_price .order_dot{
	width: 0.06rem;
	height: 0.06rem;
	border-radius: 50%;
	background: #36a8fe;
}
.order_dive .order_text .order_price p{
	margin-left: 0.06rem;
	font-size: 0.26rem;
	color:#FBB548;
	line-height: 0.8rem;
}
.order_dive .order_text .order_price .order_right p{
	font-size: 0.24rem;
}
/* 优惠券 */
.order_coupon{
	padding: 0.11rem 0.24rem;
	border-top: 0.01rem solid rgba(0, 0, 0, 0.1);
	display: flex;
	justify-content: space-between;
}
.order_coupon .order_left{
	display: flex;
	align-items: center;
}
.order_coupon .order_dot{
	width: 0.06rem;
	height: 0.06rem;
	border-radius: 50%;
	background: #36a8fe;
}
.order_coupon p{
	font-weight: bold;
	margin-left: 0.06rem;
	font-size: 0.24rem;
    color: #8A8C8D;
	line-height: 0.8rem;
}
.order_coupon .order_left span{
	font-size: 0.22rem;
}
.order_coupon .order_right{
	display: flex;
	align-items: center;
}
.order_coupon .order_right .order_info{
	color: #B9C9D2;
}
.order_coupon .order_right .order_time{
	color: #36a8fe;
}
.order_coupon .order_right i{
	font-size: 0.26rem;
}
.order_coupon1{
	border-bottom: 0.01rem solid rgba(0, 0, 0, 0.1);
}
footer{
	width: 100%;
	height: 1.07rem;
	background: #F1FAFF;
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 0 0.24rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
footer .order_left{
	display: flex;
	align-items: center;
}
footer .order_left .order_dot{
	width: 0.06rem;
	height: 0.06rem;
	border-radius: 50%;
	background: #36a8fe;
}
footer .order_left h3{
	display: flex;
	color: #b9c9d2;
	font-size: 0.26rem;
	padding: 0 0.1rem;
}
footer .order_left h3 p{
	line-height: 0.36rem;
	color: #36a8fe;
	font-size: 0.36rem;
	font-weight: bolder;
}
footer .order_refer{
	width: 3.5rem;
	height: 0.6rem;
	background: #36a8fe;
	border-radius:0.3rem; 
	box-shadow: 0 0.04rem 0.12rem 0.05rem rgba(59, 172, 254, 0.4);
	color: #fff;
	text-align: center;line-height: 0.6rem;
	font-size: 0.2rem;
}
.order_mask{
	box-shadow: 0 0 0 14rem rgba(0, 0, 0, 0.45);
	width: 100%;
	height: 4.92rem;
	background: #fff;
	position: fixed;
	bottom: 0;
	left: 0;
	display: none;
}
.order_mask .order_shop{
	position: relative;
}
.order_mask .order_shop h3{
	font-size: 0.2rem;
	color: #41b2fc;
	font-weight: bolder;
	text-align: center;
	padding:0.16rem 0 0.42rem;
}
.order_mask .order_shop .order_error{
	font-size: 0.4rem;
	color: #D1DDE6;
	position: absolute;
	top: 0rem;
	right: 0.24rem;

}
.order_youhui1{
	padding: 0.11rem 0;
	border-bottom: 0.01rem solid rgba(0, 0, 0, 0.1);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 0.24rem;
}
.order_youhui1 .order_left{
	display: flex;
	align-items: center;
}
.order_youhui1 .order_dot{
	width: 0.06rem;
	height: 0.06rem;
	border-radius: 50%;
	background: #36a8fe;
}
.order_youhui1 p{
	font-weight: bold;
	margin-left: 0.06rem;
	font-size: 0.24rem;
    color: #8a8c8d;
	line-height: 0.76rem;
}
.order_youhui1 .order_right{
	width: 0.24rem;
	height:0.24rem;
	background: #fff;
	border:0.08rem solid #fff;
	/* border:0.08rem solid #279deb; */
	border-radius: 50%;
}
.order_youhui2{
	border: none;
}
.order_close{
	font-size: 0.2rem;
	color: #fff;
	text-align: center;
	line-height: 0.6rem;
	width: 4.54rem;
	height: 0.6rem;
	background:repeating-linear-gradient(to right,#37e06f,#32d69a);
	border-radius: 0.3rem;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0.6rem auto;
	box-shadow: 0 0.04rem 0.2rem 0.04rem rgba(55, 223, 116, 0.4);
}
.order_youhui1 .active{
	border:0.08rem solid #279deb;
}









.order_timeout{
	width: 100%;
	height: 7.97rem;
	position:fixed;
	left: 0;
	bottom:0;
	background: #fff;
	display: none;
	box-shadow: 0 0 10rem 10rem rgba(0, 0, 0, 0.5);
}
.order_timeout .time_top{
	width: 100%;
	height: 0.9rem;
	background: #fff;
	text-align: center;
	line-height: 0.9rem;
	position: relative;
}
.order_timeout p{
	font-size: 0.3rem;
	color: #41b2fc;	
}
.order_timeout p span{
	font-size: 0.3rem;
	color: #4f5b64;
}
.order_timeout .close{
	font-size: 0.4rem;
	color: #d1dde6;
	position: absolute;
	right: 0.24rem;
	top: 0.05rem;
}
.order_timeout .time_day{
	width: 100%;
	height: 1.1rem;
	background: #ecf7ff;
	position: relative;
}
.order_timeout .container{
	width: 100%;
	height: 1.1rem;
	display: flex;
	justify-content: space-between;
}
.order_timeout .day_son{
	width: 33%;
	height: 100%;
	text-align: center;
	padding-top: 0.1rem;	
}
.order_timeout .bot_solid{
	border-bottom: 0.1rem solid #35db83;
}
.order_timeout h3{
	color: #41b2fc;
	font-size: 0.3rem;
}
.order_timeout h4{
	color: #9ad3ff;
	font-size: 0.25rem;
}
.order_timeout .day_choose{
	width: 100%;
	height:4.9rem;
	background: #fff;
	padding: 0.4rem 0.24rem; 
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	left: 0;
	top: 2rem;
}
.day_choose .day_day{
	width: 1.6rem;
	height:0.8rem;
	text-align: center;
	line-height: 0.8rem;
	background: #fff;
	border-radius: 0.2rem;
	color: #3bacfe;
	font-size:0.25rem;
}
.day_choose .active{
	color: #fff;
	background: #3bacfe;
}
.day_choose .day_day span{
	font-size:0.25rem;
}
.order_timeout .day_bottom{
	width: 100%;
	height: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	bottom: 0;

}
.order_timeout .day_bottom button.yes{
	width: 4.5rem;
	height: 0.6rem;
	background-image: linear-gradient(to right,#37df73,#32d698);
	border: none;
	outline: none;
	border-radius: 0.5rem;
	color: #fff;
	font-size: 0.3rem;
	box-shadow: 0 0.04rem 0.25rem 0rem rgba(55, 223, 126, 0.75);
}
.order_timeout .day_bottom button.yes a{
	color: #fff;
}