/*
* @Author: ZX
* @Date:   2018-09-27 17:25:09
* @Last Modified by:   ZX
* @Last Modified time: 2018-09-28 15:40:05
*/
.order_tag{
	width: 100%;
	height: 0.8rem;
	background:#3bacfe;
}
.order_text{
	height:100%;
	padding: 0.11rem 0.24rem;
	border-top: 0.01rem solid rgba(0, 0, 0, 0.1);
	display: flex;
	justify-content: space-between;
}
.order_text .order_left{
	display: flex;
	align-items: center;
}
.order_text .order_dott{
	width: 0.16rem;
	height: 0.08rem;
	border-radius: 0.4rem;
	background: #fff;
}
.order_text p{
	font-weight: bold;
	margin-left: 0.06rem;
	font-size: 0.38rem;
    color: #fff;
	line-height: 0.6rem;
}
.order_text .dingdan{
	font-size: 0.26rem;
	color: #BAE6FF;
}
.order_text .order_right a{
	display: flex;
	align-items: center;
}
.order_text .order_right i{
	color: #fff;
	font-size: 0.26rem;
}
.order_dive{
	padding: 0.42rem 0.24rem;
	display: flex;
	padding-bottom: 0.32rem;
}
.order_dive .order_coat{
	border-radius: 0.1rem;
	width: 1.76rem;
	height: 1.76rem;
	box-shadow: 0 0 0.24rem 0.01rem rgba(0, 0, 0, 0.1);
}
.order_dive .order_coat img{
	display: block;
	border-radius: 0.1rem;
	width: 1.76rem;
	height: 1.76rem;
}
.order_dive .order_title{
	margin-left: 0.1rem;
	padding-left: 0.24rem;
	width:5.16rem;
	height:1.76rem;
	position: relative;
}
.order_dive .order_title h3{
	font-size: 0.3rem;
	color: rgba(0, 0, 0, 0.6);
}
.order_dive .order_title .jie{
	font-size: 0.26rem;
	color: #43C93E;
	position: absolute;
	top: 0;
	right: 0;
}
.order_dive .order_title .order_type,.order_sever{
	display: flex;
	align-items: center;
}
.order_dive .order_title .order_dot{
	width: 0.06rem;
	height: 0.06rem;
	border-radius: 50%;
	background: #36a8fe;
}
.order_dive .order_title p{
	margin-left: 0.06rem;
	font-size: 0.26rem;
	color: #36a8fe;
	font-weight: bold;
	line-height: 0.4rem;
}
.order_dive .order_title .order_sever p{
	font-size: 0.22rem;
	color: rgba(0, 0, 0, 0.3);
}
.order_dive .order_title .order_sever span{
	font-size: 0.26rem;
	color: #36a8fe;
	padding: 0 0.1rem;
	font-weight: bolder;
}
.order_dive .order_title .order_price{
	display: flex;
	justify-content: space-between;
}
.order_dive .order_title .order_price .order_left,.order_right{
	display: flex;
	align-items: center;
}
.order_dive .order_title .order_price .order_dot{
	width: 0.06rem;
	height: 0.06rem;
	border-radius: 50%;
	background: #36a8fe;
}
.order_dive .order_title .order_price p{
	margin-left: 0.06rem;
	font-size: 0.26rem;
	color: rgba(0, 0, 0, 0.4);
	line-height: 0.8rem;
	font-weight: bolder;
}
.order_dive .order_title .order_price1 p{
	line-height: 1.6rem;
	color: #FBB548;
}
.order_dive .order_title .order_price .order_right span{
	padding:0.1rem;
	font-size: 0.26rem;
}
.order_outf{
	height: 4.1rem;
	width: 100%;
	padding: 0 0.24rem;
}
.out{
	border-radius: 0.1rem;
	width: 100%;
	height: 100%;
	box-shadow: 0 0 0.24rem 0.01rem rgba(0, 0, 0, 0.1);
}
.order_outf .order_fuwu{
	border-bottom: 0.01rem solid rgba(0, 0, 0, 0.1);
	display: flex;
	justify-content:flex-start;
	align-items: center;
	padding: 0 0.24rem;
}
.order_outf .order_fuwu .order_left{
	display: flex;
	align-items: center;
}
.order_outf .order_fuwu .order_dot{
	width: 0.06rem;
	height: 0.06rem;
	border-radius: 50%;
	background: #36a8fe;
}
.order_outf .order_fuwu p{
	font-size: 0.24rem;
	color:#8A8C8D;
	line-height: 0.88rem;
	padding: 0 0.14rem;
}
.order_outf .order_fuwu .word{
	height: 0.88rem;
	width: 4.8rem;
	padding: 0.22rem 0 0 0.1rem;
	line-height: 0.44rem;
	font-size: 0.24rem;
	color:#8A8C8D; 
}
.order_outf .order_fuwu .adress{
	line-height: 1.2rem;
}
hr{
	margin-top: 0.2rem;
	border: 0.01rem solid rgba(0, 0, 0, 0.1);
}
.order_outf .order_fuwu1{
	border-bottom: none;
}
.order_team{
	margin: 0.24rem 0 0;
	width: 100%;
	height: 1.77rem;
	padding: 0 0.24rem;
}
.order_team .order_major{
	border-radius: 0.1rem;
	width: 100%;
	height: 100%;
	padding: 0.24rem;
	box-shadow: 0 0 0.24rem 0.01rem rgba(0, 0, 0, 0.1);	
}
.order_team .order_major .order_head{
	width: 100%;
	height: 0.5rem;
	display: flex;
	align-items: center;
}
.order_team .order_major .order_head .order_pic{
	width: 0.79rem;
	height: 0.5rem;
	padding-right: 0.24rem;
}
.order_team .order_major .order_head img{
	display: block;
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
}
.order_team .order_major .order_head .order_word{
	font-size: 0.24rem;
	color: #36a8fe;
}
.order_team .order_major .order_head .order_contact{
	padding-left: 0.7rem;
	display: flex ;
}
.order_team .order_major .order_head .order_contact img{
	display: block;
	width: 0.5rem;
	height: 0.5rem;
	margin-left: 0.24rem;
}
.order_tousu{
	display: flex;
	align-items: center;
}
.order_team .order_major p{
	font-size: 0.24rem;
	color: #8A8C8D;
	line-height: 0.88rem;
	padding: 0 0.14rem;
}
.order_team .order_bottom{
	border-radius: 0.1rem;
	box-shadow: 0 0 0.24rem 0.01rem rgba(0, 0, 0, 0.1);		
}
.order_team .order_major1{
	padding: 0 0.24rem;
	display: flex;
	justify-content: space-between;
	border-bottom: 0.01rem solid rgba(0, 0, 0, 0.4);
	box-shadow: none;
	border-radius: 0;
}
.order_team .order_major2{
	border-bottom: none;
}
.order_team .order_major .order_dot{
	width: 0.06rem;
	height: 0.06rem;
	border-radius: 50%;
	background: #36a8fe;
}
.order_team .order_major .order_lt,.order_rt{
	display: flex;
	align-items: center;
}
.order_pay{
	padding: 0.3rem 0.24rem;
	display: flex;
	justify-content: flex-end;
}
.order_pay .order_payment{
	display: flex;
	align-items: center;
}
.order_pay .order_payment .order_reduce,.order_add{
	width: 1.96rem;
	height: 0.6rem;
	background: #F1FAFF;
	border-radius: 0.26rem;
	text-align: center;
	line-height: 0.6rem;
	font-size: 0.26rem;
	font-weight: bolder;
	color: #36a8fe;
}
.order_pay .order_payment .order_add{
	margin-left: 0.24rem;
	color: #fff;
	background:repeating-linear-gradient(to right,#37e06f,#32d69a);
	box-shadow: 0 0.04rem 0.12rem 0.05rem rgba(59, 172, 254, 0.4);	
}
.order_pay .order_payment .order_add1{
	width: 2.69rem;	
}



.order_timeout{
	width: 100%;
	height: 7.97rem;
	position: fixed;
	left: 0;
	bottom:0;
	background: #fff;
	display: none;
	box-shadow: 0 0 10rem 10rem rgba(0, 0, 0, 0.5);
}
.order_timeout .time_top{
	width: 100%;
	height: 0.9rem;
	background: #fff;
	text-align: center;
	line-height: 0.9rem;
	position: relative;
}
.order_timeout p{
	font-size: 0.3rem;
	color: #41b2fc;	
}
.order_timeout p span{
	font-size: 0.3rem;
	color: #4f5b64;
}
.order_timeout .close{
	font-size: 0.4rem;
	color: #d1dde6;
	position: absolute;
	right: 0.24rem;
	top: 0.05rem;
}
.order_timeout .time_day{
	width: 100%;
	height: 1.1rem;
	background: #ecf7ff;
	position: relative;
}
.order_timeout .container{
	width: 100%;
	height: 1.1rem;
	display: flex;
	justify-content: space-between;
}
.order_timeout .day_son{
	width: 33%;
	height: 100%;
	text-align: center;
	padding-top: 0.1rem;	
}
.order_timeout .bot_solid{
	border-bottom: 0.1rem solid #35db83;
}
.order_timeout h3{
	color: #41b2fc;
	font-size: 0.3rem;
}
.order_timeout h4{
	color: #9ad3ff;
	font-size: 0.25rem;
}
.order_timeout .day_choose{
	width: 100%;
	height:4.9rem;
	background: #fff;
	padding: 0.4rem 0.24rem; 
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	left: 0;
	top: 2rem;
}
.day_choose .day_day{
	width: 1.6rem;
	height:0.8rem;
	text-align: center;
	line-height: 0.8rem;
	background: #fff;
	border-radius: 0.2rem;
	color: #3bacfe;
	font-size:0.25rem;
}
.day_choose .active{
	color: #fff;
	background: #3bacfe;
}
.day_choose .day_day span{
	font-size:0.25rem;
}
.order_timeout .day_bottom{
	width: 100%;
	height: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	bottom: 0;

}
.order_timeout .day_bottom button.yes{
	width: 4.5rem;
	height: 0.6rem;
	background-image: linear-gradient(to right,#37df73,#32d698);
	border: none;
	outline: none;
	border-radius: 0.5rem;
	color: #fff;
	font-size: 0.3rem;
	box-shadow: 0 0.04rem 0.25rem 0rem rgba(55, 223, 126, 0.75);
}
.order_timeout .day_bottom button.yes a{
	color: #fff;
}